.container {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    position: fixed;
    right: -110%;
    margin: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    opacity: 0.95;
    height: 100%;
    width: 100%;
    transition: right 1s;
  }

  .active {
    right: -60%;
  }

  ul {
    list-style: none;
    font-size: 1.2rem;

    li {
      margin-top: 80px;
      margin-bottom: -60px;
    }
  }

  .mobile_btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
    z-index: 10;
  }
}

@media screen and (min-width: 480px) {
  .container {
    .mobile_btn {
      display: none;
    }
  }
}

@media screen and (min-width: 480px) {
  .container {
    .menu {
      flex-direction: row;
      right: 0;
      position: relative;

      li {
        margin: 0;
      }
    }
  }
}
