.aboutUsTitle {
  color: #7d7d7d;
  padding-left: 1rem;
  text-align: left;
}

.aboutUsContent {
  height: 8rem;
}

@media screen and (max-width: 480px) {
  .aboutUsTitle {
    text-align: center;
  }
}
