.title {
  position: relative;
  top: 114px;
  margin-top: -6rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
}
.text {
  text-align: center;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto 40px;
  background: #ffc600;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.mainImageContainer {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainImage {
    width: 400px;
    height: 120px;
    border-radius: 5px;
  }
}
.container {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .mainImageContainer {
    .mainImage {
      width: 1000px;
      height: 300px;
    }
  }
}
