.title {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 50px;
}
.text {
  text-align: center;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto 40px;
  background: #ffc600;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}
.mainImageContainer {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .mainImage {
    width: 250px;
    height: 200px;
    border-radius: 5px;
  }
}
.container {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .mainImageContainer {
    .mainImage {
      width: 400px;
      height: 300px;
    }
  }
}
