.cardsTitle {
  color: #7d7d7d;
  padding-left: 1rem;
  text-align: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0.3rem;

  img {
    border-radius: 5px;
    object-fit: cover;
  }
}
.cardsContainer {
  background-color: transparent;
  color: #2e2e2e;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
  border-radius: 4px;
  max-width: 500px;
  justify-content: center;
  /* box-shadow: rgba(0, 0, 0, 0.043) 0px 0px 5px 3px; */
  h4 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

.pizzaCard {
  background-color: #1e1e1d;
  border-radius: 5px;
  -webkit-box-shadow: 4px 5px 13px 5px #141414;
  box-shadow: 4px 5px 13px 5px #141414;
  width: 16rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7d7d7d;
}
.singlePizza {
  max-width: 100%;
  color: rgb(148, 148, 148);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2em;
  }
}

.orderInfo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 5px 0 2rem;
}

@media screen and (min-width: 480px) {
  .cardsTitle {
    text-align: left;
  }
  .cardsContainer {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .singlePizza {
    max-width: 100%;
    color: rgb(148, 148, 148);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .descriptionContainer {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding: 0 2em;
    }
  }
}
