.teamCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;

  .imageContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      border: 1px solid gray;
      width: 100%;
      height: 100%;
    }
  }

  .teamInfo h4 {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .teamCard {
    .imageContainer img {
      width: 100%;
      height: 100%;
    }
  }
}
