.teamCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  
  .imageContainer {
    width: 8rem;
    display: flex;
    height: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      border: 1px solid gray;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .teamInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .teamMemberName {
      padding-top: 12px;
      font-size: 1.4rem;
      text-align: center;
    }
    .teamMemberRole {
      font-size: 1rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .teamCard {

    .imageContainer {
      width: 6rem;
      height: 6rem;
    }
    
    .teamInfo {
      .teamMemberName {
        padding-top: 8px;
        font-size: .8rem;
      }
      .teamMemberRole {
        font-size: .6rem;
      }
    }
  }
}
