.orderBtn {
  display: block;
  width: 100px;
  height: 2.5rem;
  padding: 4px 0;
  background: #ffc600;
  border-radius: 8px;
  color: #121618;
  text-align: center;
  border: 1px solid #ffc600;
  margin: 1rem;
}

.orderBtn:hover {
  background: transparent;
  color: #ffc600;
  transition: all 0.5s;
  cursor: pointer;
  scale: 1.05;
}