.TeamContainer {
  background-color: transparent;
  color: rgb(167, 168, 169);
  .TeamTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: 50%;
      text-align: center;
    }
  }

  .TeamList {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  .TeamContainer {
    .TeamList {
      width: 100%;
     overflow-x: scroll;
     gap: 1rem;
     justify-content: flex-start;
    }
  }
}
