.pizzaOrderItem {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: #7d7d7d;

  .imageOrderContainer {
    margin: 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    width: 4rem;

    img {
      border-radius: 5px;
      width: 100%;
      object-fit: cover;
    }
  }
  .pizzaInfo {
    width: 4rem;
  }

  .cartBtn {
    margin: .5rem;
    border-radius: 5px;
    background-color: transparent;
    color: #c1c1c1;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .pizzaOrderItem {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
        
    .imageOrderContainer {
      margin: 0;
      width: auto;
      img {
        width: 3rem;
       
      }
    }
    .pizzaInfo {
      width: max-content;
      font-size: .7rem;
    }

    .cartQuantity {
      display: flex;
      width: 4rem;
      font-size: .7rem;
      justify-content: center;
      align-items: center;
    }
    .cartBtn {
      margin: 0.4rem;
      width: 1.3rem;
    }
  }
}
