@import '../../src/styles/_variables.scss';

.btn {
  display: block;
  width: 40px;
  padding: 4px 0;
  height: 2rem;
  background: $primary-yellow;
  border-radius: 8px;
  color: #121618;
  text-align: center;
  border: 1px solid $primary-yellow;
}

.btn:hover {
  background: transparent;
  color: $primary-yellow;
  transition: all 0.5s;
  cursor: pointer;
  scale: 1.05;
}

@media screen and (min-width: 480px) {
  .btn {
    width: 100px;
  }
}
